.age-calculator {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #4f2a42, #465264);
    box-shadow: 0 4px 8px rgba(115, 67, 109, 0.1);
    max-width: 600px;
    margin: 50px auto;
  }
  
  .age-calculator h1 {
    font-size: 2.5rem;
    color: #ebf1f2;
    margin-bottom: 20px;
  }
  
  .age-calculator form {
    background: #adaec6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(107, 102, 139, 0.1);
    display: inline-block;
    width: 100%;
    max-width: 400px;
  }
  
  .age-calculator label {
    font-size: 1.2rem;
    color: #030c1c;
    margin-bottom: 10px;
    display: block;
  }
  
  .age-calculator input {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    width: calc(100% - 24px); /* Adjust for padding */
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .age-calculator button {
    padding: 12px 20px;
    background-color: #523c86;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .age-calculator button:hover {
    background-color: #121d28;
    transform: scale(1.05);
  }
  
  .age-calculator button:active {
    transform: scale(1.02);
  }
  
  .result {
    margin-top: 20px;
    background: #54536f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(103, 83, 83, 0.1);
  }
  
  .result h2 {
    font-size: 2rem;
    color: #e1d7d7;
    margin-bottom: 10px;
  }
  
  .result p {
    font-size: 1.5rem;
    color: #d6d9dd;
    font-weight: bold;
  }
  